*{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: none;
color: black;
}
nav {
    list-style: none;
    display: flex;
    border-radius: 10px;
    align-items: center;
}
li{
    margin: 20px;
}

.tituloIndex, .nome{
    text-align: center;
    color: grey;
}
.tituloIndex{
    font-size: 20px;
    font-weight: bold;
}
.primeiradiv{
    margin-top: 200px;
    height: 800px;
}